* {
    margin: 0;
}

:root {
    --brightGreen: #5cdb95;
    --dullGreen: #8ee4af;
    --darkGreen: #379683;
    --whiteish: #edf5e1;
    --darkBlue: #05386b;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--darkGreen);
    color: white;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--brightGreen);
}

.container {
    display: grid;
    height: 98vh;
    width: 98%;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: 1fr 2fr 2fr;
    border: 2px solid var(--whiteish);
    border-radius: 20px;
    background-color: var(--brightGreen);
}



.side-bar-left {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border-right: 2px solid var(--whiteish);
    display: flex;
    flex-direction: column;
}

.search-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-bottom: 2px solid var(--whiteish);
}

.projects-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-bottom: 2px solid var(--whiteish);
}

.dates-section {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.side-bar-right {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    border-left: 2px solid var(--whiteish);
}

/* Section Left */

.dashboard-name {

}

.dashboard-nav {

}

.github {
    
}